@use "./colors";
@use "./fonts";

.sage-icon-button {
    border-width: 0px;
    border-style: none;
    border-radius: 4px;
    background-color: initial;
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.sage-icon-button:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.sage-icon-superscript {    
    font-size: 0.8rem;
    top: -0.25rem;
    left: -0.25rem;
    vertical-align: super;
    position: relative;
}