// Font Family
$font-inter-helvetica: "Inter", Helvetica;
$font-inter-bold-helvetica: "Inter-Bold", Helvetica;
$font-inter-regular-helvetica: "Inter-Regular", Helvetica;
$font-opensans-regular-helvetica:"Open Sans-Regular", Helvetica;

// Font Size
$font-size-14px: 14px;
$font-size-28px: 28px;
$font-size-16: 16px;

// Font Weight
$font-weight-700: 700;
$font-weight-400: 400;
$font-weight-600: 600;

// Colours
$summarize-header-title-text: rgba(75, 85, 99, 1);
$summarize-header-small-text: #374151;
