body {
  margin: 3rem 1.5rem;
  color: #000000;
  background-color: #f2f3f9;
  /* font-family: "Open Sans"; */
}
.p-component {
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  color: #333333;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.p-icon.p-sortable-column-icon{
  color:white;
}




.justify-content-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

/* button  */
.btn-diable-color {
  background-color: #dddddd;
  color: white;
}

.btn-color {
  background-color: #066fde;
  color: white;
}

.btn-padding {
  padding: 8px 16px;
  border: none;
}

.btn-height {
  height: 35px;
}

.icon-font-size {
  font-size: 30px;
}

/* Font  */
/* .font-family {
  font-family: "Helvetica";
} */

.font-size-header {
  font-size: 28px;
}

.font-size-16 {
  font-size: 16px;
}

.margin-zero {
  margin: 0;
}

.margin-height {
  margin: 15px 0;
}

.font-weight-bold {
  font-weight: bold;
}

.font-color {
  color: #1e1e1e;
}

/* Prime React Table header */
.black-header-table th {
  background-color: #595d67;
  color: #ffffff;
}

.seleted-header-table th {
  background-color: #5c6a84;
  color: #ffffff;
}

.p-column-filter input {
    border-radius: 1px;
  }
  
  .p-column-title{
    /* width:100%; */
  }
  
.black-header-table .p-column-filter input {
  padding: 4px;
  margin: 0;
}

.black-header-table .p-column-filter-clear-button button {
  padding: 4px;
  margin: 0;
}

.p-datatable .p-column-filter {
  height: 2rem; /* Adjust the height as needed */
}

/* .p-datatable {
  font-size: 12px;
  font-family: "Helvetica";
} */

.p-datatable tr td {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.truncateCellText {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.p-datatable tr td div {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

table.dataTable thead tr th {
  background-color: #595d67;
  color: white;
}

body table.dataTable thead tr th.sorting_asc:after {
  content: "\f0dd";
  color: #ffffff;
}

body table.dataTable thead tr th.sorting_desc:after {
  content: "\f0de";
  color: #ffffff;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-color: #5c6a84 !important;
}

body table.dataTable thead tr th.sorting {
  content: "\f0dc";
}

div.dataTables_wrapper div.dataTables_info {
  margin-top: 15px;
}

.dataTables_wrapper table.dataTable thead .sorting_asc,
.dataTables_wrapper table.dataTable thead .sorting_desc {
  background-color: #5c6a84 !important;
}

table.table-bordered.dataTable thead tr:first-child th,
table.table-bordered.dataTable thead tr:first-child td {
  border-top-width: 0px;
}

.table-hover > tbody > tr.active-row > td,
.table-hover > tbody > tr:hover > td,
.dataTable > tbody > tr.active-row > td,
.dataTable > tbody > tr:hover > td {
  background-color: #ecf3f8 !important;
}

/* data table border color with thickness */

/* .table-bordered > :not(caption) > * > * {
    border-width: 1 1px;
  } */

table.table-bordered.dataTable thead tr th,
table.table-bordered.dataTable thead tr td {
  border-width: 3px;
}

table.table-bordered.dataTable th:first-child,
table.table-bordered.dataTable th:first-child,
table.table-bordered.dataTable td:first-child,
table.table-bordered.dataTable td:first-child {
  border-left-width: 3px;
}

table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: 1px;
}

/* PrimeReact paginator */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #eff1f3 !important;
  border-color: #ced4da !important;
  border-radius: 1px !important;
  color: #2f3541 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-color: #ced4da !important;
  border-radius: 1px !important;
  color: #2f3541 !important;
}

.p-paginator .p-paginator-pages .p-paginator-page,
.p-paginator .p-paginator-prev.p-link,
.p-paginator .p-paginator-next.p-link,
.p-paginator .p-paginator-last.p-paginator-element.p-link,
.p-paginator .p-paginator-first.p-paginator-element.p-link {
  border-color: #ced4da !important;
  border-radius: 1px !important;
  color: #2f3541 !important;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0px;
  height: auto;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
.p-paginator-first.p-paginator-element.p-link.p-highlight,
.p-paginator-last.p-paginator-element.p-link.p-highlight {
  background-color: #016fa0 !important;
  border-color: #016fa0 !important;
  border-radius: 1px !important;
  color: #ffffff !important;
}

.p-paginator .p-paginator-prev.p-link.p-disabled,
.p-paginator .p-paginator-next.p-link.p-disabled {
  background-color: #dddddd !important;
  border-color: #dddddd !important;
  border-radius: 1px !important;
  color: #333333 !important;
}

.p-paginator-current {
  font-weight: bold;
  color: #333;
}

.p-paginator-bottom.p-paginator.p-component {
  background-color: #f2f3f9;
  font-size: 11px;
  padding: 0px;
  float: right;
}

.form-check {
  padding-left: 3rem;
  margin-bottom: 0.45rem;
}

.btn.btn-link {
  --bs-btn-padding-x: 0.35rem;
}

.abc > .p-tooltip-text {
  background: #4b5563;
  color: #ffffff;
  padding: 0.75rem 0.75rem;
  box-shadow: none;
  border-radius: 2px;
}

.p-tooltip-arrow {
  border-style: none;
}

.table > :not(caption) > * > * {
  color: #333333;
}
