.p-component {
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  /* color: #333333; */
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.p-icon.p-sortable-column-icon {
  color: white;
}

.justify-content-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

/* button  */
.btn-diable-color {
  background-color: #dddddd;
  color: white;
}

.btn-color {
  background-color: #066fde;
  color: white;
}

.btn-padding {
  padding: 8px 16px;
  border: none;
}

.btn-height {
  height: 35px;
}

.icon-font-size {
  font-size: 30px;
}

/* Font  */
/* .font-family {
  font-family: "Helvetica";
} */

.font-size-header {
  font-size: 28px;
}

.font-size-16 {
  font-size: 16px;
}

.margin-zero {
  margin: 0;
}

.margin-height {
  margin: 15px 0;
}

.font-weight-bold {
  font-weight: bold;
}

.font-color {
  color: #1e1e1e;
}

/* Prime React Table header */
.black-header-table th {
  background-color: #595d67;
  color: #ffffff;
}

.seleted-header-table th {
  background-color: #5c6a84;
  color: #ffffff;
}

.p-column-filter input {
  border-radius: 1px;
}

.black-header-table .p-column-filter input {
  padding: 4px;
  margin: 0;
}

.black-header-table .p-column-filter-clear-button button {
  padding: 4px;
  margin: 0;
}

.p-datatable .p-column-filter {
  height: 2rem; /* Adjust the height as needed */
}

.p-datatable tr td {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.truncateCellText {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.p-datatable tr td div {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.sageDataTable thead tr th {
  background-color: #595d67;
  color: white;
}

body .sageDataTable thead tr th.sorting_asc:after {
  content: "\f0dd";
  color: #ffffff;
}

body .sageDataTable thead tr th.sorting_desc:after {
  content: "\f0de";
  color: #ffffff;
}

.sagedataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-color: #5c6a84 !important;
}

body .sagedataTable thead tr th.sorting {
  content: "\f0dc";
}

div.dataTables_wrapper div.dataTables_info {
  margin-top: 15px;
}

.dataTables_wrapper table.dataTable thead .sorting_asc,
.dataTables_wrapper table.dataTable thead .sorting_desc {
  background-color: #5c6a84 !important;
}

table.table-bordered.sageDataTable thead tr:first-child th,
table.table-bordered.sageDataTable thead tr:first-child td {
  border-top-width: 0px;
}

.table-hover > tbody > tr.active-row > td,
.table-hover > tbody > tr:hover > td,
.sageDataTable > tbody > tr.active-row > td,
.sageDataTable > tbody > tr:hover > td {
  background-color: #ecf3f8 !important;
}

/* data table border color with thickness */

/* .table-bordered > :not(caption) > * > * {
    border-width: 1 1px;
  } */

.sageDataTable.table-bordered.sageDataTable thead tr th,
.sageDataTable.table-bordered.sageDataTable thead tr td {
  border-width: 3px;
}

table.table-bordered.sageDataTable th:first-child,
table.table-bordered.sageDataTable th:first-child,
table.table-bordered.sageDataTable td:first-child,
table.table-bordered.sageDataTable td:first-child {
  border-left-width: 3px;
}

table.table-bordered.sageDataTable th:last-child,
table.table-bordered.sageDataTable th:last-child,
table.table-bordered.sageDataTable td:last-child,
table.table-bordered.sageDataTable td:last-child {
  border-right-width: 1px;
}
.sageDataTable thead tr {
  text-transform: inherit;
}

/* PrimeReact paginator */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #eff1f3 !important;
  border-color: #ced4da !important;
  border-radius: 1px !important;
  color: #2f3541 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-color: #ced4da !important;
  border-radius: 1px !important;
  color: #2f3541 !important;
}

.p-paginator .p-paginator-pages .p-paginator-page,
.p-paginator .p-paginator-prev.p-link,
.p-paginator .p-paginator-next.p-link,
.p-paginator .p-paginator-last.p-paginator-element.p-link,
.p-paginator .p-paginator-first.p-paginator-element.p-link {
  border-color: #ced4da !important;
  border-radius: 1px !important;
  color: #2f3541 !important;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0px;
  height: auto;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
.p-paginator-first.p-paginator-element.p-link.p-highlight,
.p-paginator-last.p-paginator-element.p-link.p-highlight {
  background-color: #016fa0 !important;
  border-color: #016fa0 !important;
  border-radius: 1px !important;
  color: #ffffff !important;
}

.p-paginator .p-paginator-prev.p-link.p-disabled,
.p-paginator .p-paginator-next.p-link.p-disabled {
  background-color: #dddddd !important;
  border-color: #dddddd !important;
  border-radius: 1px !important;
  color: #333333 !important;
}

.p-paginator-current {
  font-weight: bold;
  color: #333;
}

.p-paginator-bottom.p-paginator.p-component {
  background-color: #f2f3f9;
  font-size: 11px;
  padding: 0px;
  float: right;
}

.form-check {
  padding-left: 3rem;
  margin-bottom: 0.45rem;
}

.btn.btn-link {
  --bs-btn-padding-x: 0.35rem;
}

.custom-tooltip-style > .p-tooltip-text {
  background: #4b5563;
  color: #ffffff;
  padding: 0.75rem 0.75rem;
  box-shadow: none;
  border-radius: 2px;
}

.p-tooltip-arrow {
  border-style: none;
}

.table > :not(caption) > * > * {
  color: #333333;
}

.p-checkbox-box {
  border-radius: 0px;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
  color: #333030;
  width: 22px;
  height: 22px;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background-color: #ffffff;
  border: 2px solid #d1d5db;
}

.modal-content {
  border-radius: 0px;
}

.modal-header-padding {
  padding: 1rem 1rem 0rem 1rem;
}

.border-bottom-0 {
  border-bottom: 0px;
}

.border-top-0 {
  border-top: 0px;
}

.modal-footer-padding {
  padding: 0rem 2rem 1rem 1rem;
}

.p-radiobutton {
  margin: 0.1rem 1rem 0rem 0rem;
}

.p-dialog .p-dialog-content {
  background: #ffffff;
  color: #4b5563;
  padding: 0 4rem 1rem 4rem;
}

.p-dialog-content .p-col.p-modal-container {
  padding: 5px 0px;
}

.footer-button .p-button.p-component {
  margin-left: 0.5rem;
  height: 35px;
  font-size: 14px;
}
.p-column-title{
  font-size: 14px;
}
/*  */
.form-check {
  padding-left: 3rem;
  margin-bottom: 0.45rem;
}

.btn.btn-link {
  --bs-btn-padding-x: 0.35rem;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #3387e0 !important;
  background: #3387e0 !important;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  width: 9px;
  height: 9px;
}

.p-dialog .p-dialog-header {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.p-dialog .p-dialog-footer {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* 
button{
  background-color: #3B82F6;
} */

.p-button.p-button-primary {
  background: #3b82f6;
  color: #ffffff;
  border-color: #3b82f6;
}

.p-button.p-button-info.p-button-outlined {
  background-color: transparent;
  color: #3b82f6;
  border: 1px solid;
}

.p-splitbutton .p-splitbutton-defaultbutton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.p-splitbutton-menubutton {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.p-button {
  border-radius: 6px;
  box-shadow: none;
}

.icon-position {
  position: absolute;
  top: -20px;
}
.header-icon-position {
  position: absolute;
  top: -15px;
}
.header-text-wrapper{
  
  font-weight: 700;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 16px;
}

.overlay-help-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
}

.help-scroll-panel .p-scrollpanel-wrapper {
  border-right: 10px solid var(--surface-50);
  border-bottom: 10px solid var(--surface-0);
}

.help-scroll-panel .p-scrollpanel-bar-y {
  background-color: var(--surface-300);
  border-radius: 0;
  opacity: 1;
  transition: background-color 0.3s;
}

.sageTable-noteModal-header {
  padding: 0.75rem 1.5rem 0rem 0.75rem;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #29272b;
  letter-spacing: 0;
  line-height: 27.5px;
}

.sageTable-noteModal-header .p-dialog-title {
  font-size: 22px;
}

.sageTable-noteModal-char-count {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}

.sageTable-note-modal .p-dialog-footer {
  padding: 0.75rem 1.5rem 0.75rem 0rem;
}

.p-inputtextarea:focus {
  box-shadow: none;
}

.summary-document-category-label{
  color: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.sageTable-notes-modal-mask {
  animation: none;
}

.summary-wizard-summary-title{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  }
  .summary-wizard-stepper-summary-type {
    display: flex;
    align-items: center;
    padding-left:20px;
    height: 56px;
    width: 428px;
    position: relative;
    background:  #3387E0;
    clip-path: polygon(93.5% 0%, 97% 50%, 93% 100%, 0% 100%, 0% 0%, 0% 0%);
    border-radius:4px;
  }
  
  .summary-wizard-stepper-summary-type:before {
    content: "";
    background: #DBE4EE;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(93.5% 0%, 97% 50%, 93% 100%, 0% 100%, 0% 0%, 0% 0%);
    clip-path: polygon(93.5% 0%, 97% 50%, 93% 100%, 0% 100%, 0% 0%, 0% 0%);
    border-radius:4px;
  }
  
  .summary-wizard-stepper-documents {
    display: flex;
    align-items: center;
    padding-left:34px;
    height: 56px;
    width: 428px;
    position: relative;
    background: rgb(204, 212, 207);
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 75% 100%, 0% 100%, 3.5% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 75% 100%, 0% 100%, 3.5% 50%, 0% 0%);
    border-radius:4px;
    margin-left:-20px;
  }
  
  .summary-wizard-stepper-documents:before {
    content: "";
    background: rgb(239, 239, 239);
    height: calc(100% - 2px);
    width: calc(100% - 3px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 75% 100%, 0% 100%, 3.5% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 100%, 75% 100%, 0% 100%, 3.5% 50%, 0% 0%);
    border-radius:4px;
  }
  .stepper-title{
    z-index: 2;
  }