body{
    margin: 3rem 1.5rem;
    color: #000000;
    background-color: #f2f3f9;
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.gap-10{
    gap: 10px;
}

/* button  */
.btn-diable-color{
    background-color: #DDDDDD;
    color: white; 
}

.btn-color{
    background-color: #066FDE;
    color: white; 
}

.btn-padding{
    padding: 8px 16px;
    border: none;
}

.btn-height{
    height:35px; 
}


.icon-font-size{
    font-size:30px; 
}

/* Font  */
.font-family{
    font-family:'Open Sans'
}

.font-size-header{
    font-size:28px
}

.margin-zero{
    margin:0
}

.margin-height{
    margin:15px 0
}

.font-weight-bold{
    font-weight: bold
}

.font-color{
    color:#1E1E1E
}


/* Prime React Table header */
.black-header-table th {
    background-color: #595D67;
    color: #FFFFFF;
}

.seleted-header-table th {
    background-color: #5C6A84;
    color: #FFFFFF;
}

.black-header-table .p-column-filter input {
    padding: 4px;
    margin: 0; 
}

.black-header-table .p-column-filter-clear-button button {
    padding: 4px;
    margin: 0; 
}

.p-datatable tr td {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
}
  